
body {
    border:10px green solid;
    padding:20px;
    margin:0
}

#title {font: Georgia;color:#6d0631;
    text-shadow:3px 2px #B8860B;
    text-align:center;
    font-weight:300px;
    font-height:300px;
    font-style:oblique;
    font-size:70px}

#logotitle {font: Georgia; color:#6d0631;font-size:10px);}   

#join {
    width: 200px;
    color: #51341a;
    background-color:#FAE5EF; padding-top:25px; padding-right: 50px; padding-bottom:25px; padding-left: 25px; border: 3px solid #B8860B; border-style: ridge;

}

#mainMessage  {font: Georgia;color:#6d0631;
    text-shadow:3px 2px #B8860B;
    text-align:center;
    font-weight:300px;
    font-height:300px;
    font-style:oblique;
    font-size:40px}

h1 {
    font:Georgia;
    color:#6d0631;
    text-shadow:3px 2px #B8860B;
    text-align:center;
    font-weight:300px;
    font-height:300px;
    font-style:oblique;
    font-size:50px
}

h2 {
    font-family:sans-serif,serif;
    color:#6d0631
}

h3 {
    font:Georgia;
    color:#B8860B; font-size: 30px;
}

.briefheadline {font: Georgia; color: #B8860B; font-size: 25px;}


h4 {
    font-family:sans-serif;
    color:#fff
}

p {
    font:15px arial,sans-serif;
    color:#000;
    text-align:left
}

#description {
    font-weight:700;
    text-shadow:1px 1px #B8860B;
    font-style:oblique;
    color:green;
    
}

 {
    color:green;
    display:block;
    font-family:sans-serif;
    font-weight:10px;
    text-align:center;
    background-color:#f7e8ad;
    padding-top:25px;
    padding-right:50px;
    padding-bottom:25px;
    padding-left:50px
}

hr {
    color:green
}

}

.highlight {
    background: #ffffcc;
}

ul {
    list-style-type:square
}

img {
    border:5px solid #B8860B; margin-left: 20px; margin-bottom: 10px; border-style: double;
}

#photostyle {
    vertical-align:left
}

#header {background-color:#FAE5EF; padding-top:25px; padding-right: 50px; padding-bottom:25px; padding-left: 25px; border: 3px solid #B8860B; border-style: ridge;}

#list {
    font-family:sans-serif;
    font-size:15px;
    color:green
}

#listbackground {
    background-color:#FAE5EF;
    margin:2px;
    padding:5px;
    border:3px; border-color: #6d0631;
    border-style: ridge;
    
}

.byline {
    font-family:serif;
    font-size:12px;
    color:#6d0631
}

.caption {
    font-family:sans-serif;
    font-size:14px;
    font-weight:700;
    color:#B8860B
}

#contact {
    font-family:sans-serif;
    font-size:15px; text-align: center;
}

#contactinfo {
    font-family:sans-serif;
    font-size:14px;
    color:#6d0631; text-align: center;
}

/* basic menu styles */
.block-menu {
    display: block;
    background: red;
}

.block-menu li {
    display: inline-block;
}

.block-menu li a {
    color: red;
    display: block;
    text-decoration: none;
    font-family: 'Passion One', Arial, sans-serif;
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-size: 24px;
    padding: 15px 10px;
}

/* animation domination */
.three-d {
    perspective: 200px;
    transition: all .07s linear;
    position: relative;
    cursor: pointer;
}
    /* complete the animation! */
    .three-d:hover .three-d-box, 
    .three-d:focus .three-d-box {
        transform: translateZ(-25px) rotateX(90deg);
    }

.three-d-box {
    transition: all .3s ease-out;
    transform: translatez(-25px);
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

/* 
    put the "front" and "back" elements into place with CSS transforms, 
    specifically translation and translatez
*/
.front {
    transform: rotatex(0deg) translatez(25px);
}

.back {
    transform: rotatex(-90deg) translatez(25px);
    color: red;
}

.front, .back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    padding: 15px 10px;
    color: white;
    pointer-events: none;
    box-sizing: border-box;
}

