div {width:600px; height: 300px; background-image:url("bluegradient"); background-position: left top; background-repeat: repeat-x}
.image {position: relative}
h1 {position: absolute; top: 50px; left: 20px; width: 100%; color: #000077;} </style>

