article {font-family: Georgia; line-height: 200%; color: #999999; background-color: #E6E6E7; border-style: solid;
    border-width: 5px ; padding: 10px} 

p.lead {
  font-weight: bold; font-weight: 60px;
}